@use '../../lib/service.scss' as s;

.form {
  display: flex;
  flex-direction: column;
  padding: s.space(4);
  gap: s.space(8);

  &__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: s.space(1);
    color: s.color('blue');
  }

  &__content {
    display: grid;
    gap: s.space(6);
    grid-template-columns: repeat(3, 1fr);
    padding: s.space(4);
    border: 1px solid s.color('light');
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px s.color('light');
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: s.space(2);
  }

  &__label {
    font-size: 14px;
    color: s.color('grey');
  }

  &__input {
    border: 1px solid s.color('light');
    padding: s.space(2);
  }

  &__field--large {
    grid-column: 1/6;
  }

  &__buttons {
    grid-column: 1/6;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: s.space(2);
  }

  &__button {
    border: 1px solid s.color('blue');
    padding: s.space(2);
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color: s.color('white');
  }

  .button--primary {
    background-color: s.color('blue');
    color: s.color('white');
  }

  .button--danger {
    background-color: s.color('danger');
    color: s.color('white');
  }

  .content__title {
    font-size: 15px;
    grid-column: 1/6;

    font-size: 20px;
  }
}
