@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss';
@use '../../component/purchase-product/style.scss' as
  product;
@use '../../component/divider/style.scss' as divider;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;

@use '../../component/labelfield/style.scss' as labelfield;

.main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
  padding: s.space(10);
}

.row {
  display: flex;
  gap: s.space(4);
  align-items: center;
}
