@use '../../lib/service.scss' as s;

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid s.color('light');
  border-radius: 10px;
  margin: s.space(4);
  padding: s.space(4);
  gap: s.space(8);

  &__button {
    border: 1px solid s.color('blue');
    padding: s.space(4);
    border-radius: 10px;
    grid-column: 1/3;
    background-color: s.color('blue');
    color: s.color('white');
    text-decoration: none;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: s.space(2);

    h1 {
      font-size: 18px;
      color: black;
    }

    h2 {
      color: s.color('grey');
    }
  }
}
